html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(233, 230, 230);
  height: 100vh;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 10vw;
  font-family: "Amatic SC", cursive;
  color: rgb(83, 79, 79);
}
.flip:hover {
  display: inline-block; /*transform doesnt work on inline elements */
  transition: ease 0.3s;
  color: rgb(39, 32, 32);
  transform: scale(1.3) rotate(5deg);
}
